<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TPMS</title>
  <link rel="stylesheet" href=" ./css/output.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
  <link rel="manifest" href="./images/site.webmanifest">

</head>

<body>
  <div class="flex flex-col justify-center align-middle h-[100%] w-[100%]">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Confirmation</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Booking Details.</p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Faculty name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Vaibhav Tiwari</dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email Address </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">vtiwari1_be21@thapar.edu</dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Timing and Duration</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">3:20PM (50 minutes)</dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Location</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">LT-101</dd>
          </div>
  <form action="/" method="get" form="confirmationForm">
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Additional Comments</dt>
            <textarea name="message" rows="4" cols="50"></textarea>
            </dd>
          </div>

        </dl>
      </div>
    </div>
    <div class="grid justify-center">

      <button type="submit" name="success" value="true" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounde" id="su">
        Submit
      </button>
  </form>
    </div>
  </div>



</body>

</html>